.home {
    padding: 2rem;

    .intro {
        margin-bottom: 1rem;
    }
}

.home_postTitle {
    font-size: 2rem;
}

.home_postContent {
    margin-bottom: 1rem;

    a {
        color: gray;
        margin-bottom: 1rem;

        &:hover {
            color: rgb(34, 33, 33);
        }
    }
}