nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background: #DDDDDD;
    color: gray;
    text-transform: uppercase;
}

.nav_links {

    a {
        margin: 0 1rem;
        color: gray;
    }
}