@import "navbar";
@import "home";
@import "about";
@import "contact";
@import "compose";
@import "post";
@import "footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    // background: #EEEEEE;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}