@import "navbar";
@import "home";
@import "about";
@import "contact";
@import "footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    // background: #EEEEEE;
}

a {
    text-decoration: none;
}