<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

    <nav class="navbar">
        <h1>Daily Journal</h1>

        <div class="nav_links">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="https://sajana-wijesinghe.com/">Personal Website</a>
        </div>
    </nav>