<!-- Import the header section -->
<%- include("./header"); %>

<section class="about" id="about">
    <h1>About</h1>
    <p>
        <%= aboutContent %> 
    </p>
</section>

<!-- Import the footer section -->
<%- include("./footer"); %>