<!-- Import the header section -->
<%- include("./header"); %>

<section class="contact" id="contact">
    <h1>Contact</h1>
    <p>
        <%= contactContent %> 
    </p>
</section>

<!-- Import the footer section -->
<%- include("./footer"); %>