<!-- Import the header section -->
<%- include("./header"); %>
<section class="home" id="home">
    <h1>Home</h1>
    <p>
        <%= homeContent %> 
    </p>
</section>

<!-- Import the footer section -->
<%- include("./footer"); %>